// :root {
// 	--blue: blue;	-> moet het aanpassen? Neen dus overbodig
// }

$alpha-color: #1990c7;
$alpha-color-dark: #205d8c;

$neutral-colors: ( //css map
    light: #fafafa,
    medium: #cccccc,
	dark: #222222
);
